@import url("https://fonts.googleapis.com/css?family=Caveat%20Brush:700|Roboto:400"); /* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"); /* Inria Sans */
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap"); /* Caveat Brush */

/* Body Fonts & Color codes */
body {
  --text: #270001;
  --background: #ffffff;
  --primary: #ffcfbc;
  --secondary: #800080;
  --accent: #ffe6ea;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: "Roboto";
  font-weight: 400;
  color: var(--text);
}

/* Header Fonts */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Inria Sans";
  font-weight: 700;
}

/* Text sizes */
html {
  font-size: 100%;
} /* 16px */
h1 {
  font-size: 4.521rem; /* 72.32px */
}
h2 {
  font-size: 3.197rem; /* 51.2px */
}
h3 {
  font-size: 2.261rem; /* 36.16px */
}
h4 {
  font-size: 1.599rem; /* 25.6px */
}
h5 {
  font-size: 1.131rem; /* 18.08px */
}
small {
  font-size: 0.566rem; /* 9.12px */
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

/* Navigation bar*/
nav {
  background-color: var(--primary);
  display: flex;
  gap: 1vw;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
  height: 10vh;
  margin: auto;
}

#logo {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
}

#logoName {
  font-size: medium;
  margin-top: auto;
  margin-bottom: auto;
}

#navigation {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  vertical-align: middle;
  width: 20vw;
  margin: 0;
  padding: 0;
}

#navigation a {
  height: 3vh;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  text-decoration: none;
  font-size: larger;
  color: inherit;
}

#searchbar {
  flex-grow: 0;
  font-size: 15px;
  width: 200px;
  height: 6vh;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 10px;
}

#navMisc {
  flex-grow: 1;
}

/* Welcome Sign */
header:nth-of-type(1) section {
  background: url(/src/media/mainPage\ cake.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 700px;
  padding: 0 5vw;
}

header:nth-of-type(1) section article {
  margin-top: 250px;
  margin-right: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Caveat Brush", "Roboto";
  margin: 0;
  margin-right: auto;
  width: auto;
  margin-top: 10%;
}

header:nth-of-type(1) article small {
  font-size: 22px;
  width: 500px;
}

header:nth-of-type(1) section button {
  width: 200px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary);
  color: white;
  font-size: 20px;
}

/* Section 1 (Discover) */
main section:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  margin: 70px 5vw;
  width: auto;
}

main section:nth-of-type(1) h2 {
  margin: 0;
  flex: 45%;
  font-size: 75px;
  line-height: 1.1;
}

main section:nth-of-type(1) table {
  flex: 55%;
}

main video:nth-last-of-type(1) {
  margin: 0 5vw;
  width: 90vw;
}

/* Section 2 (Cakes & Decor) */
main section:nth-of-type(2) table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 5vw 0;
  width: auto;
}

main section:nth-of-type(2) tbody tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3vw;
  margin-left: auto;
  margin-right: auto;
}

main section:nth-of-type(2) table h4 {
  margin: 0;
}

/*- Cards -*/
main section:nth-of-type(2) tbody tr td {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
  border: 2px solid #ffcfbc2e;
  border-radius: 10px;
  margin: 10px 0;
}

main section:nth-of-type(2) tbody tr td img:nth-of-type(1) {
  width: 100%;
}

main section:nth-of-type(2) tbody tr td h4,
main section:nth-of-type(2) tbody tr td p {
  padding: 0 20px;
}

main section:nth-of-type(2) tbody tr td button {
  display: flex;
  justify-content: left;
  font-size: 17px;
  background-color: white;
  border: 0;
  height: 30px;
  width: 100px;
  padding: 0 20px;
  color: var(--text);
}

main section:nth-of-type(2) tbody tr td button:hover {
  cursor: pointer;
  font-weight: 700;
}

main section:nth-of-type(2) tbody tr td button img {
  width: 20px !important;
}

/* Section 1, Article 1 */
main section:nth-of-type(2) article:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3vh;
  background-color: var(--accent);
  margin-top: 70px;
  padding: 9vh 30vw;
}

main section:nth-of-type(2) article:nth-of-type(1) h2,
main section:nth-of-type(2) article:nth-of-type(1) h3 {
  margin: 0;
}

main section:nth-of-type(2) article:nth-of-type(1) form input {
  font-size: 17px;
  height: 40px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px;
}

main section:nth-of-type(2) article:nth-of-type(1) form button {
  background-color: var(--secondary);
  color: white;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1px;
  height: 42px;
  width: 125px;
  border: 2px solid var(--secondary);
  border-radius: 5px;
}

/* Section 1, Article 2 */
main section:nth-of-type(2) article:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  margin: 0 5vw;
}

main section:nth-of-type(2) article:nth-of-type(2) h2 {
  margin-left: auto;
  margin-right: auto;
}

main section:nth-of-type(2) article:nth-of-type(2) p {
  font-size: 20px;
}
